# Pandas Data Exploration
***

In [1]:
from __future__ import division
import sys, os

from pandas import Series, DataFrame
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

np.random.seed(12345)
np.set_printoptions(precision = 4)
plt.rc('figure', figsize = (10, 6))
br = '\n'

## Series
***

In [22]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

s = Series([2,-3,5,9], index = ['1','2','3','4'])
print s
print s.values
print s.index
print s[['2','3','4']]
print s[s > 0]
print s * 2
print np.exp(s)
print '1' in s 

sdata = {'A' : 100, 'B' : 200, 'C' : 300, 'D' : 400}
ss = Series(sdata)
print ss
sindex = ['A', 'B', 'C', 'E']
sv = Series(sdata, index = sindex)
print sv
print pd.isnull(sv)
print sv.isnull()
print '\n'
print ss + sv
sv.name = 'poplution'
sv.index.name = 'state'
print sv
ss = Series([1,2,3,4], ['a', 'b', 'c', 'd'])
print ss
print ss.reindex(['a','d','e','c'])
s = Series(np.arange(4.), index = ['a', 'b', 'c', 'd'])
print s
print s[['b']]
print s['b']
print s[0:2]
print s['a': 'c']
s1 = Series(np.arange(3.), index = ['a', 'b', 'c'])
s2 = Series(np.arange(3.), index = ['a', 'c', 'd'])
print s1 + s2

1    2
2   -3
3    5
4    9
dtype: int64
[ 2 -3  5  9]
Index([u'1', u'2', u'3', u'4'], dtype='object')
2   -3
3    5
4    9
dtype: int64
1    2
3    5
4    9
dtype: int64
1     4
2    -6
3    10
4    18
dtype: int64
1       7.389056
2       0.049787
3     148.413159
4    8103.083928
dtype: float64
True
A    100
B    200
C    300
D    400
dtype: int64
A    100.0
B    200.0
C    300.0
E      NaN
dtype: float64
A    False
B    False
C    False
E     True
dtype: bool
A    False
B    False
C    False
E     True
dtype: bool


A    200.0
B    400.0
C    600.0
D      NaN
E      NaN
dtype: float64
state
A    100.0
B    200.0
C    300.0
E      NaN
Name: poplution, dtype: float64
a    1
b    2
c    3
d    4
dtype: int64
a    1.0
d    4.0
e    NaN
c    3.0
dtype: float64
a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64
b    1.0
dtype: float64
1.0
a    0.0
b    1.0
dtype: float64
a    0.0
b    1.0
c    2.0
dtype: float64
a    0.0
b    NaN
c    3.0
d    NaN
dtype: float64

## DataFrame
***

In [36]:
from __future__ import division
import sys, os

from pandas import Series, DataFrame
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

np.random.seed(12345)
np.set_printoptions(precision = 4)
plt.rc('figure', figsize = (10, 6))
br = '\n'

data = { 'state': ['A', 'B', 'C', 'D'],
         'year': [2000, 2001, 2002, 2003],
         'pop': [1.5, 1.6, 1.7, 1.8]}
frame = DataFrame(data)
print frame
frame1 = DataFrame(data, columns = ['year', 'pop', 'state'])
print frame1
frame2 = DataFrame(data, columns = ['year', 'pop', 'state'], index = ['one', 'two', 'three', 'four'])
print frame2
print frame2.columns
print frame2.year
print frame2.ix['two']
frame2['dept'] = np.arange(4.)
print frame2
print np.arange(5.)
val = Series([1,2,3], index=['two', 'three', 'four'])
frame2['de'] = val
print frame2
dic = {'one': {2000: 0.2, 2002: 0.3},
      'two': {2001: 0.3, 2002: 0.1}}
frame3 = DataFrame(dic)
print frame3
print frame3.T
print DataFrame(dic, index = [2000, 2001, 2002])
print frame3['one'][:-1]
print frame3.values
print frame2.reindex(index = ['a', 'two', 'three'], columns = ['year', 'pop', 'state'])
print frame2.ix[['one', 'two'], ['year', 'state']]
d = DataFrame(np.arange(16.).reshape((4,4)),
             index=['a', 'b', 'c', 'd'],
             columns = ['1', '2', '3', '4'])
print d
print d[d['1'] > 5]
print d < 5
print d.ix[1][2]
print d.ix[d['1'] > 5, :2]
d1 = DataFrame(np.arange(9.0).reshape((3, 3)), index = [1, 2, 3], columns = list('abc'))
d2 = DataFrame(np.arange(9.0).reshape((3, 3)), index = [1, 2, 4], columns = list('abd'))
print d1
print d2
print d1+d2
print d1.add(d2, fill_value = 0)
s1 = d1.ix[1]
print d1 - s1
f  = lambda x: x.max() - x.min()
d1.apply(f, axis = 1)
d1.apply(f)
d = DataFrame({'a': [1,2,3,4], 'b': [4,5,6,7]}, index = list('3412'))
print d
print d.sort_index()
print d.sort_index(axis = 1)
print d.sort_values(by = ['b'])
print d.sort_values(by = ['b'], ascending=False)

   pop state  year
0  1.5     A  2000
1  1.6     B  2001
2  1.7     C  2002
3  1.8     D  2003
   year  pop state
0  2000  1.5     A
1  2001  1.6     B
2  2002  1.7     C
3  2003  1.8     D
       year  pop state
one    2000  1.5     A
two    2001  1.6     B
three  2002  1.7     C
four   2003  1.8     D
Index([u'year', u'pop', u'state'], dtype='object')
one      2000
two      2001
three    2002
four     2003
Name: year, dtype: int64
year     2001
pop       1.6
state       B
Name: two, dtype: object
       year  pop state  dept
one    2000  1.5     A   0.0
two    2001  1.6     B   1.0
three  2002  1.7     C   2.0
four   2003  1.8     D   3.0
[ 0.  1.  2.  3.  4.]
       year  pop state  dept   de
one    2000  1.5     A   0.0  NaN
two    2001  1.6     B   1.0  1.0
three  2002  1.7     C   2.0  2.0
four   2003  1.8     D   3.0  3.0
      one  two
2000  0.2  NaN
2001  NaN  0.3
2002  0.3  0.1
     2000  2001  2002
one   0.2   NaN   0.3
two   NaN   0.3   0.1
      one  two
2000  0.2  NaN
2001  NaN  0.3
2002  0.3  0.1
2000    0.2
2001    NaN
Name: one, dtype: float64
[[ 0.2  nan]
 [ nan  0.3]
 [ 0.3  0.1]]
         year  pop state
a         NaN  NaN   NaN
two    2001.0  1.6     B
three  2002.0  1.7     C
     year state
one  2000     A
two  2001     B
      1     2     3     4
a   0.0   1.0   2.0   3.0
b   4.0   5.0   6.0   7.0
c   8.0   9.0  10.0  11.0
d  12.0  13.0  14.0  15.0
      1     2     3     4
c   8.0   9.0  10.0  11.0
d  12.0  13.0  14.0  15.0
       1      2      3      4
a   True   True   True   True
b   True  False  False  False
c  False  False  False  False
d  False  False  False  False
6.0
      1     2
c   8.0   9.0
d  12.0  13.0
     a    b    c
1  0.0  1.0  2.0
2  3.0  4.0  5.0
3  6.0  7.0  8.0
     a    b    d
1  0.0  1.0  2.0
2  3.0  4.0  5.0
4  6.0  7.0  8.0
     a    b   c   d
1  0.0  2.0 NaN NaN
2  6.0  8.0 NaN NaN
3  NaN  NaN NaN NaN
4  NaN  NaN NaN NaN
     a    b    c    d
1  0.0  2.0  2.0  2.0
2  6.0  8.0  5.0  5.0
3  6.0  7.0  8.0  NaN
4  6.0  7.0  NaN  8.0
     a    b    c
1  0.0  0.0  0.0
2  3.0  3.0  3.0
3  6.0  6.0  6.0
   a  b
3  1  4
4  2  5
1  3  6
2  4  7
   a  b
1  3  6
2  4  7
3  1  4
4  2  5
   a  b
3  1  4
4  2  5
1  3  6
2  4  7
   a  b
3  1  4
4  2  5
1  3  6
2  4  7
   a  b
2  4  7
1  3  6
4  2  5
3  1  4

In [39]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

s = Series([1,2,2,4], index=['a','b','c','d'])
print s.rank()
print s.rank(method='first')
print s.rank(ascending=False, method='max')

a    1.0
b    2.5
c    2.5
d    4.0
dtype: float64
a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64
a    4.0
b    3.0
c    3.0
d    1.0
dtype: float64

In [41]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

s = Series([1,2,2,4], index=['a','b','a','d'])
print s.is_unique
print s['a']
print np.nan

False
a    1
a    2
dtype: int64
nan

In [54]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

d = DataFrame([[1,5],[np.nan],[np.nan, 2],[2,3]], index=[1,2,3,4], columns=list('ab'))
print d
print d.sum()
print d.sum(axis = 1)
print d.mean()
print d.mean(axis=1, skipna=False)
print d.idxmax()
print d.cumsum()
print d.describe()

     a    b
1  1.0  5.0
2  NaN  NaN
3  NaN  2.0
4  2.0  3.0
a     3.0
b    10.0
dtype: float64
1    6.0
2    0.0
3    2.0
4    5.0
dtype: float64
a    1.500000
b    3.333333
dtype: float64
1    3.0
2    NaN
3    NaN
4    2.5
dtype: float64
a    4
b    1
dtype: int64
     a     b
1  1.0   5.0
2  NaN   NaN
3  NaN   7.0
4  3.0  10.0
              a         b
count  2.000000  3.000000
mean   1.500000  3.333333
std    0.707107  1.527525
min    1.000000  2.000000
25%    1.250000  2.500000
50%    1.500000  3.000000
75%    1.750000  4.000000
max    2.000000  5.000000

In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from pandas_datareader import data

all_stock = {}
for ticker in ['IBM', 'MSFT']:
    all_stock[ticker] = data.get_data_yahoo(ticker)
    
price = DataFrame({tic: data['Adj Close'] for tic, data in all_stock.iteritems()})
print price

                   IBM       MSFT
Date
2009-12-31  107.896149  24.891350
2010-01-04  109.173752  25.275177
2010-01-05  107.854950  25.283342
2010-01-06  107.154320  25.128178
2010-01-07  106.783417  24.866852
2010-01-08  107.854950  25.038349
2010-01-11  106.725700  24.719858
2010-01-12  107.574692  24.556530
2010-01-13  107.343887  24.785191
2010-01-14  109.058350  25.283342
2010-01-15  108.621490  25.201679
2010-01-19  110.566757  25.397671
2010-01-20  107.360382  24.981182
2010-01-21  106.330040  24.507528
2010-01-22  103.445122  23.650047
2010-01-25  103.956169  23.944042
2010-01-26  103.651207  24.091042
2010-01-27  104.129272  24.229874
2010-01-28  102.002670  23.813379
2010-01-29  100.881660  23.013071
2010-02-01  102.760971  23.200891
2010-02-02  103.469849  23.241730
2010-02-03  103.577019  23.380560
2010-02-04  101.384453  22.735409
2010-02-05  101.813095  22.882408
2010-02-08  100.910622  22.637409
2010-02-09  102.011803  22.874241
2010-02-10  101.680611  22.857906
2010-02-11  102.442314  22.964071
2010-02-12  102.665886  22.808908
...                ...        ...
2017-09-14  145.539993  74.769997
2017-09-15  144.820007  75.309998
2017-09-18  144.550003  75.160004
2017-09-19  144.389999  75.440002
2017-09-20  145.880005  74.940002
2017-09-21  145.259995  74.209999
2017-09-22  145.130005  74.410004
2017-09-25  145.869995  73.260002
2017-09-26  146.559998  73.260002
2017-09-27  145.660004  73.849998
2017-09-28  145.660004  73.870003
2017-09-29  145.080002  74.489998
2017-10-02  146.660004  74.610001
2017-10-03  146.779999  74.260002
2017-10-04  146.479996  74.690002
2017-10-05  146.720001  75.970001
2017-10-06  146.479996  76.000000
2017-10-09  147.389999  76.290001
2017-10-10  148.500000  76.290001
2017-10-11  147.619995  76.419998
2017-10-12  147.029999  77.120003
2017-10-13  147.100006  77.489998
2017-10-16  146.830002  77.650002
2017-10-17  146.539993  77.589996
2017-10-18  159.529999  77.610001
2017-10-19  160.899994  77.910004
2017-10-20  162.070007  78.809998
2017-10-23  159.550003  78.830002
2017-10-24  155.880005  78.860001
2017-10-25  153.500000  78.629997

[1969 rows x 2 columns]

In [9]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

data = Series(np.random.randn(3), 
             index = [['a', 'b', 'c'], [1, 2, 3]]);
print data
print data['a':'b']
print data.ix[['a', 'c']]
print data[:, 2]
print data.unstack()

a  1    1.475147
b  2    0.553991
c  3   -0.267630
dtype: float64
a  1    1.475147
b  2    0.553991
dtype: float64
a  1    1.475147
c  3   -0.267630
dtype: float64
b    0.553991
dtype: float64
          1         2        3
a  1.475147       NaN      NaN
b       NaN  0.553991      NaN
c       NaN       NaN -0.26763

In [25]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

data = DataFrame(np.arange(6).reshape(3, 2), 
                index = [['a', 'b', 'c'], [1, 2, 3]],
                columns = [['A', 'B'], ['C', 'D']])
print data
print data.index
print data['A']
print data['A']['C']
data.index.names = ['key1', 'key2']
data.columns.names = ['color', 'state']
print data.swaplevel('key1', 'key2')
print data.swaplevel(0, 1)
print data.swaplevel(0, 1, axis = 1)
f2 = data.sum(level = 'key2')
print f2
print f2.sum(level = 'state', axis = 1)

     A  B
     C  D
a 1  0  1
b 2  2  3
c 3  4  5
MultiIndex(levels=[[u'a', u'b', u'c'], [1, 2, 3]],
           labels=[[0, 1, 2], [0, 1, 2]])
     C
a 1  0
b 2  2
c 3  4
a  1    0
b  2    2
c  3    4
Name: C, dtype: int32
color      A  B
state      C  D
key2 key1
1    a     0  1
2    b     2  3
3    c     4  5
color      A  B
state      C  D
key2 key1
1    a     0  1
2    b     2  3
3    c     4  5
state      C  D
color      A  B
key1 key2
a    1     0  1
b    2     2  3
c    3     4  5
color  A  B
state  C  D
key2
1      0  1
2      2  3
3      4  5
state  C  D
key2
1      0  1
2      2  3
3      4  5

In [31]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

frame = DataFrame({'a' : range(3), 'b': ['a', 'b', 'c'], 'd' : [4, 5, 6]});
print frame
print frame.set_index(['a', 'd'], drop = False)
print frame.set_index(['a', 'd'],).reset_index()

   a  b  d
0  0  a  4
1  1  b  5
2  2  c  6
     a  b  d
a d
0 4  0  a  4
1 5  1  b  5
2 6  2  c  6
   a  d  b
0  0  4  a
1  1  5  b
2  2  6  c

In [38]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

data = Series(np.arange(3.))
print data
print data.iloc[2]
data = Series(np.arange(3.), index = ['a', 'b', 'c'])
print data
print data.iloc[-1]
print data.ix[:2]
print data.iget_value(2)

0    0.0
1    1.0
2    2.0
dtype: float64
2.0
a    0.0
b    1.0
c    2.0
dtype: float64
2.0
a    0.0
b    1.0
dtype: float64
2.0

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: FutureWarning: iget_value(i) is deprecated. Please use .iloc[i] or .iat[i]

In [41]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

frame = DataFrame({'a' : range(3), 'b': ['a', 'b', 'c'], 'd' : [4, 5, 6]});
print frame
print frame.iloc[1]
print frame.irow(0)

   a  b  d
0  0  a  4
1  1  b  5
2  2  c  6
a    1
b    b
d    5
Name: 1, dtype: object
a    0
b    a
d    4
Name: 0, dtype: object

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: irow(i) is deprecated. Please use .iloc[i]